/* header.css */

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: rgba(255, 255, 255, 0.192);
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: yellow;
  }
   */

   .rimotext{
    color: #00A4B8;
    font-size: 1.2rem;
    list-style: none;
    font-weight: bold;
   }

   .rimotext:hover{
    background-color: #00A4B8;
    color: white;
   }
   ul{
    list-style: none;
    gap: 0.8rem;
    display: flex;
    
   }
   /* responsive header*/ 

   @media (max-width:576px){

  .logo{
    margin: 2rem 1rem 1rem 1rem;
  
     }

     .nav-bvnd h1{
      font-size: 3.5rem;
      margin-bottom: 1rem ;
     }
     .nav-bvnd h2{
      font-size: 2rem;
     }
     
     .hamburguesa{
     margin-left: 1rem;
     width: 5rem;
     background-color: #00A4B8;
     color: white;
      margin-bottom: 0.5rem;
     }
     .logout-auth0{
      margin: -3rem 0rem 1rem;
     }
  }