#effecto {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
    text-decoration: none;
    color: white;
    
    
    background-size: 120% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(45deg, 
                      #7794ff, 
                      #44107A,
                      #FF1361,
                      #FFF800);
    animation: .9s shake infinite alternate; 

  }
  
.numerador-pagina{

 background: #B0DD28;
    border-radius: 0.9rem;
    border-style: none;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    box-shadow: 0 1.2rem 2rem -1rem rgba(166, 255, 0, 0.548);
    cursor: pointer;
}

.numerador-pagina:hover{
  background-color: #00A4B8;
  color: white;
}

.numerador{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

  .search-per{
    background-color: #00A4B8;
  }





  @keyframes shake {
    /* from start */
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    /* to the end */
    100% { transform: skewX(0deg); }  
  }